
{{ with $performance := .Response.NowPlaying }}

<div class="performanceBlock">
	<h3 class="-composer">{{ $performance.Work.Composer.Name }}</h3>
	<h2 class="-title">{{ (index $performance.Work.Title 0).Title }}</h2>
	{{ if $performance.Work.OpusNumber }}
		<ul>
			{{ range $i, $opus := $performance.Work.OpusNumber }}
				<li>{{ $opus }}</li>
			{{ end }}
		</ul>
	{{ end }}
	{{ if $performance.Work.Parts }}
		<ol>
			{{ range $i, $part := $performance.Work.Parts }}
				{{ if $part.Number }}
					<li number="{{ $part.Number }}">{{ $part.Part }}</li>
				{{ else }}
					<li>{{ $part.Part }}</li>
				{{ end }}
			{{ end }}
		</ol>
	{{ end }}
	<ul class="-performers">
		{{ range $i, $performer := $performance.Performers }}
			<li class="-{{ $performer.Role }}">{{ $performer.Name }}</li>
		{{ end }}
	</ul>
</div>

{{ end }}

<div class="-up-next">



	{{ range $_, $performance := .Response.UpNext }}
	<div class="-item">
		<span class="-composer">{{ $performance.Work.Composer.Name }}</span>
		{{- " - " -}}
		<span class="-title">{{ (index $performance.Work.Title 0).Title }}</span>

		{{- " " -}}
		<span class="-performers">
			{{- "(" -}}
			{{- if $performance.Year -}}
				{{- $performance.Year -}}
			{{- end -}}

			{{- range $i, $performer := $performance.Performers -}}
				{{- if or $i $performance.Year -}}
					{{- ", " -}}
				{{- end -}}

				<span class="-{{ $performer.Role }}">{{ $performer.Name }}</span>
			{{- end -}}
			{{- ")" -}}
		</span>
	</div>
	{{ end }}
</div>
