{{define `contents`}}

<main class="home">
	<section class="-now-playing -js-load-now-playing"></section>
	<section class="-player">
		<div class="-js-create-stream-player"></div>
	</section>
	<section class="-search">
		<div class="search">
			<div class="search-input">
				<div class="ipt">
					<input type="text" class="-search-bar" name="q" />
				</div>
			</div>
			<div class="search-results">
				<div class="-no-results">¯\_(ツ)_/¯</div>
				<div class="-results"></div>
				<div class="-result-counter"></div>
			</div>
		</div>
	</section>
</main>

{{end}}
