{{define `contents`}}

<main class="library">
	<section>
		<h3>Library</h3>
		<table>
			{{ range $resultIndex, $performance := .Response.Performances }}
				<tr>
					<td class="-col-ctr">{{ add $resultIndex 1 }}</td>
					<td class="-col-carrier">{{ $performance.ID.Carrier }}</td>
					<td class="-col-composer">{{ $performance.Work.Composer.Name }}</td>
					<td class="-col-title">
						{{ range $i, $title := $performance.Work.Title }}
							{{ if $i }}
								<div class="-title -aka">{{ $title.Title }}</div>
							{{ else }}
								<div class="-title">{{ $title.Title }}</div>
							{{ end }}
						{{ end }}
					</td>
					<td class="-col-opus">
						{{ range $i, $opus := $performance.Work.OpusNumber }}
							{{ if $i }}
								<div class="-opus -aka">{{ $opus }}</div>
							{{ else }}
								<div class="-opus">{{ $opus }}</div>
							{{ end }}
						{{ end }}
					</td>
					<td class="-col-year">{{ if $performance.Work.Year }}{{ $performance.Work.Year }}{{ end }}</td>
				</tr>
			{{ end }}
		</table>
	</section>
	{{ if .Response.FailedCarriers }}
		<section>
			<h3>Failed carriers</h3>
			<table>
				{{ range $_, $car := .Response.FailedCarriers }}
					<tr>
						<td>{{ if $car.Carrier }}{{ $car.Carrier.ID }}{{ end }}</td>
						<td>{{ $car.Filename }}</td>
						<td><pre>{{ $car.Error }}</pre></td>
					</tr>
				{{ end }}
			</table>
		</section>
	{{ end }}
</main>

{{end}}

